<div class="container">
    <a class="button"
    [routerLink]="['../user-detail']"               
    ariaCurrentWhenActive="page">
   Create New
 </a>
    <table>
        <tr>
            <td>Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Password</td>
            <td>Status</td>
        </tr>
        <tr *ngFor="let user of users">

            <td>{{user.FirstName}} {{user.userId}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.EmailAddress}}</td>
            <td>{{user.Password}}</td>
            <td>{{user.Status}}</td>
            <td>  <a class="button"
                [routerLink]="['../user-detail', user.UserId]"               
                ariaCurrentWhenActive="page">
               view
             </a></td>
        </tr>
    </table>
    
</div>
